/*----------------------------------------------
Responsive CSS for Different Screen Size Devices
----------------------------------------------*/

@media only screen and (min-device-width: 1280px) {
    /* Responsive Classes Here */
}

@media only screen and (max-device-width: 1279px) {
    /* Responsive Classes Here */
    .blog {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-device-width: 991px) {
    .blog {
        grid-template-columns: repeat(2, 1fr);
    }
    .banner {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .promo {
        margin: 50px auto 0 auto;
    }
    .promo h1 {
        font-size: 60px;
    }
    .half {
        width: 100%;
    }
    .menu a {
        display: block;
    }
}

@media only screen and (max-device-width: 768px) {
    .container{
        margin: 0 auto;
        overflow-x: hidden;
        width: 680px;
    }
    .blog {
        grid-template-columns: repeat(1, 1fr);
    }
    .face{
        width: 300px;
    }
    .promo h1 {
        font-size: 55px;
    }
    .highlight h1 {
        font-size: 55px;
    }
}


/* @media only screen and (max-device-width: 576px) {

} */

@media only screen and (max-device-width: 480px) {
    /* Responsive Classes Here */
    .container{
        margin: 0 auto;
        overflow-x: hidden;
        width: 460px;
    }
    .promo h1 {
        font-size: 50px;
    }
    footer img {
        width: 350px;
    }
    .kick img {
        width: 400px;
    }
    .highlight h1 {
        font-size: 45px;
    }
}


/* @media only screen and (max-device-width: 360px) {

} */