@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Poiret+One&family=Poppins:wght@400;500&display=swap');
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: #2d25a0;
}

h1 {
    font-size: 70px;
    font-weight: bold;
}

p {
    font-family: 'Poppins', sans-serif;
    color: dimgray;
    text-align: justify;
}

.container {
    margin: 0 150px;
    height: 100vh;
}

.bar {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding-right: 20px;
}

.menu a:hover {
    color: #e02c6d;
    border-bottom: 2px solid #e02c6d;
}

.btn a{
    text-decoration: none;
    font-size: 20px;
    border: none;
    width: 160px;
    color: white;
}

.btn button {
    font-size: 20px;
    border: none;
    width: 160px;
    color: white;
    padding: 5px 15px;
    background-color: #e02c6d;
    transition: width 1s, border-radius 1s;
}

.btn button:hover {
    width: 350px;
    background-image: linear-gradient(to right, #2d25a0, skyblue);
    border-radius: 30px;
    cursor: pointer;
}

/* banner part */

.banner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.half {
    width: 50%;
    margin-top: 80px;
    margin-bottom: 40px;
}

.promo {
    margin-right: 80px;
}

.promo h1 {
    color: white;
}

.kick {
    margin-left: 10px;
}

.kick img {
    width: 570px;
}

/* banner part ends */

/* Section Part 1 starts */

.part-1 {
    height: 2400px;
    /* background-color: rgba(124, 121, 121, 0.521); */
}

.blog {
    height: 2400px;
    margin-top: 70px;
    background-color: white;
    display: grid;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(3, 1fr);
}

.players {
    padding: 20px 20px;
    text-align: justify;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0;
    margin: 30px;
}

.players:hover {
    border-radius: 10px;
}

.para h2 {
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
}

.para h2:hover {
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.para {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 30px;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.para a {
    text-decoration: none;
    color: black;
}

.face img {
    width: 100%;
    padding: 0 10px;
}

.face {
    transition: transform 1s;
}

.face:hover {
    transform: scale(1.1);
}

/* Section Part 1 ends */

/* Section Part 2 starts */

.part-2 {
    margin-top: 40px;
}

.highlight h1 {
    color: black;
    font-size: 63px;
    margin-top: 20px;
    margin-bottom: 0;
}

.highlight p {
    padding-right: 20px;
}

/* Section Part 2 ends */

/* Section Part 3 starts */

.news {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    /* width: 33%; */
}

.image {
    display: block;
    width: 100%;
    height: 240px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 240px;
    transition: .5s ease;
}

.news-parts:hover .overlay {
    /* width: 33.33%; */
}

/* Section Part 3 ends */

/* footer */

footer img {
    width: 500px;
}

.icons i {
    font-size: 25px;
    padding: 5px 10px;
    margin-right: 10px;
    color: black;
    box-sizing: border-box;
    background-color: rgba(161, 161, 161, 0.295);
    border-radius: 30px;
}

.icons i:hover {
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer p {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* part 4 */

.extra{
    padding-top: 40px;
    margin-bottom: 200px;
}

.first_h1 {
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 60px;
    font-family: 'Gruppo', sans-serif;
}

.card {
    transform: translateY(0px);
    transition: all 2s;
    margin: 0 auto;
}

.card-img-top {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 0 20px 0 black;
    border-radius: 5%;
    transform: translateY(-40px);
    background-image: radial-gradient(rgb(47, 120, 230), rgb(15, 235, 132));
}

.cards-sec {
    border-radius: 30px;
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: justify;
}
.card-3{
    height: 550px;
}
.card-body a{
    position: absolute;
    bottom: 0px;
    margin-bottom: 15px;
}